.mbf {
  margin-bottom: 0 !important; }

.mbxs {
  margin-bottom: 5px !important; }

.mbs {
  margin-bottom: 10px !important; }

.mbm {
  margin-bottom: 20px !important; }

.mbl {
  margin-bottom: 40px !important; }

.mbxl {
  margin-bottom: 80px !important; }

.mhc {
  margin-left: auto !important;
  margin-right: auto !important; }

.mlf {
  margin-left: 0; }

.mlxs {
  margin-left: 5px !important; }

.mls {
  margin-left: 10px !important; }

.mlm {
  margin-left: 20px !important; }

.mll {
  margin-left: 60px !important; }

.mrf {
  margin-right: 0 !important; }

.mrxs {
  margin-right: 5px !important; }

.mrs {
  margin-right: 10px !important; }

.mrm {
  margin-right: 20px !important; }

.mrl {
  margin-right: 40px !important; }

.mtf {
  margin-top: 0 !important; }

.mtxs {
  margin-top: 5px !important; }

.mts {
  margin-top: 10px !important; }

.mtm {
  margin-top: 20px !important; }

.nav3-mtm {
  padding-top: 45px !important; }

.mtl {
  margin-top: 40px !important; }

.mtlll {
  margin-top: 100px !important; }

.mtllll {
  margin-top: 200px !important; }

.mtl.mto--m {
  margin-top: 0 !important; }

.mtxl {
  margin-top: 80px !important; }

.paxxs {
    padding: 2px !important; }

.paxs {
  padding: 5px !important; }

.pas {
  padding: 10px !important; }

.pas--1 {
  padding: 14px !important; }

.pam {
  padding: 20px !important; }

.pam-1 {
  padding: 16px !important; }

.pal {
  padding: 40px !important; }

.paxl {
  padding: 80px !important; }

.pbf {
  padding-bottom: 0; }

.pbxs {
  padding-bottom: 5px !important; }

.pbs {
  padding-bottom: 10px !important; }

.pbm {
  padding-bottom: 20px !important; }

.pbl {
  padding-bottom: 40px !important; }

.pbxl {
  padding-bottom: 80px !important; }

.plf {
  padding-left: 0 !important; }

.plxs {
  padding-left: 5px !important; }

.pls {
  padding-left: 10px !important; }

.plm {
  padding-left: 10px !important; }

.pll {
  padding-left: 20px !important; }

.plxl {
  padding-left: 20px !important; }

.plxlll {
  padding-left: 50px !important; }

  .plxllll {
    padding-left: 200px !important; }

.prf {
  padding-right: 0 !important; }

.prxs {
  padding-right: 5px !important; }

.prs {
  padding-right: 10px !important; }

.prm {
  padding-right: 20px !important; }

.prl {
  padding-right: 40px !important; }

.prxl {
  padding-right: 80px !important; }

.ptf {
  padding-top: 0 !important; }

.ptxs {
  padding-top: 5px !important; }

.pts {
  padding-top: 10px !important; }

.ptm {
  padding-top: 20px !important; }

.ptl {
  padding-top: 40px !important; }

.ptxl {
  padding-top: 80px !important; }
